<div class="footer">
    <div class="footer-container">
        <div class="left">
            <img src="../static/images/logo2.png" alt="Shifaa Logo" />
        </div>
        <div class="mid">
            <h5>Main</h5>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </div>
        <div class="right">
            <h5>Detector</h5>
            <ul>
                <li><a href="/ecg_mi">ECG</a></li>
                <li><a href="/stroke">Stroke</a></li>
                <li><a href="/chd">CHD</a></li>
            </ul>
        </div>
        <div class="right">
            <h5>Analysis</h5>
            <ul>
                <li><a href="/stroke_analysis">Stroke</a></li>
                <li><a href="/chd_analysis">CHD</a></li>
            </ul>
        </div>
    </div>
</div>
